# Ignore Code::Blocks layout and dependency files
*.layout
*.depend

# Ignore Compiled Object files & Executables
obj/
bin/
*.o
*.exe

# Ignore Sensitive Data (Passwords & Logs)
data/users.cfg
data/activity.log
data/settings.ini

# Ignore OS temp files
Thumbs.db
.DS_Store